* {
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
  box-sizing: border-box;
  color: white;
}

.background {
  background-color: #12181b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  align-items: center;
}

section {
  margin-top: 10px;
}
.title {
  font-size: 2.5rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.tile {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  cursor: pointer;
  color: green;
}

.controls button {
  color: black;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.playerX {
  color: #b91010;
}

.playerO {
  color: #063d9c;
}
.result {
  width: 300px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.space-between {
  display: flex;
}
